body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;  
  background-color: rgb(240, 240, 240);
}

header {
  display: flex;
  background-color: rgb(16, 137, 235);
  height: 75px;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
}

header .logo img{
  height: 40px;
  margin-left: 65px;
}

#usuario {
  margin-right: 65px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  background-color: rgb(226, 242, 255);
  cursor: pointer;
}

.btnUsuario ::placeholder{
  color: rgb(5, 5, 233);
}

#info {
  background-color: white;
  border-radius: 15px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 80px;
  padding: 10px;
}

.info-contenedor{
  display: flex;
  align-items: center;
}

.jane-doe img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgb(16, 137, 235);
  padding: 5px;
  margin-left: 30px;
}

.lawn{
  color: grey;
}

.nombre{
  font-size: 40px;
  margin-top: 10px;
}

.info-jane {
  margin-left: 30px;
  margin-top: 0;
}

#btnSeguir {
  width: 90px;
  height: 48px;
  margin-left: 600px;
  margin-top: 200px;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  background-color: rgb(16, 137, 235);
  cursor: pointer;
}

button {
  color: white;
  font-size: 15px;
}

.titulo-sobre-mi {
  margin-top: 10px;
  font-size: 28px;
  color: rgb(108, 106, 106);
}

#sobre-mi {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 339px;
  margin-left: 90px;
  margin-top: 50px;
  margin-right: 120px;
  float: right;
  font-size: 17px;
}

#publicacion {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 800px;
  height: 900px;
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 120px;

}

.semana{
  color: rgb(108, 106, 106);
}

.publi-contenedor{
  margin: 10px;
}

.publi-contenedor img{  
  height: 520px;
  border-radius: 15px;
  margin: 0;
}

.btnMegusta {
  display: flex;
}

#megusta {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  height: 40px;
  padding: 13px;
  border: 0;
  font-size: bold;
  color: rgb(16, 137, 235);
  margin-top: 20px;
  cursor: pointer;
}

#likes{
  margin-left: 600px;
}
strong {
  font-size: bold black;
}
.pLike {
  margin-top: 30px;
}

#lista-comen{
  font-size: 14px;
  margin-left: 0;
}

#comentario {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  height: 20px;
  width: 600px;
  padding: 13px;
  border: 0;
  margin-top: 10px;
  cursor: pointer;
}

.comentar ::placeholder {
  font-size: 15px;
  color: black;
}


#btnComentar {
  width: 120px;
  height: 43px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 13px;
  border: 0;
  background-color: rgb(16, 137, 235);
  font-size: 16px;
  cursor: pointer;
}

#mostrarError {
  color: red;
}
